/* Antd-Override */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
  font-family: 'Montserrat', sans-serif;
}
input{
  border-radius: 2px !important;
  border : 1px solid rgba(128, 128, 128, 0.521) !important;
  height: 40px !important;
}
input:focus .ant-picker{
  outline: none !important;
  box-shadow: none !important;
  border: 2px solid gray !important;
}
label{
  font-size: 16px !important;
  color: black;
}

.ant-form-item{
  margin: 10px 0 !important;
}
.ant-picker-input input {
  border: none !important;
}
.ant-picker{
  height: 40px !important;
  border-radius: 2px !important;
  border : 1px solid rgba(128, 128, 128, 0.521) !important;
  height: 40px !important;
}

/* common styling */
.spinner-parent{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
.spinner-border{
  height:5rem;
  width:5rem;
  color:white !important;
}
.page-title{
  font-size: 25px;
  color:rgba(0, 0, 0, 0.794);
  font-weight: bold;
}
.card-title{
  font-size: 22px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.569);
}
.normal-text{
  font-size: 1rem;
}
.card{
  box-shadow: 0 0 2px rgba(30, 81, 3, 0.931);
  border-radius:'15px';
  border: 'none';
   border:' 2px solid #005555 ';
   transition: transform 0.4s ease;
   padding: 50px;
}

.card:hover{
  transform: scale(0.97);
}

.primary-button{
  background-color: #005555 !important;
  border-color: #005555;
  height: 40px;
  width: 170px;
  color: white !important;
  font-size: 16px !important;
}
.full-width-button{
  width:100% !important;
}
p{
  color: rgba(0, 0, 0, 0.696) !important;
  margin-top: 0px;
  padding: 0 !important;

}
.anchor{
  color: black !important;
  text-decoration: underline;
  font-size: 16px !important;
  cursor: pointer;
}
.anchor:hover{
  text-decoration: underline !important;
  color: #06f6f6;
}
.cursor-pointer{
  cursor: pointer;
}


/* authentication pages */

.authentication{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #005555;
}
.authentication-form{
  width: 360px;
}

.authentication .card-title {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: orangered;
  color: white !important;
  max-width: max-content;
  padding: 7px 15px;
  margin-left: -40px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}